<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DeploymentApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DeploymentApp.Properties.Settings>
		<setting name="dbServer" serializeAs="String">
                <value>172.30.30.5\test</value>
            	</setting>
            <setting name="dbName" serializeAs="String">
                <value>ADM_Deploy</value>
            </setting>
            <setting name="PlaceholderEnt" serializeAs="String">
                <value>ENTERPRISE_DB</value>
            </setting>
            <setting name="PlaceholderGPComp" serializeAs="String">
                <value>GP_COMP_DB</value>
            </setting>
            <setting name="PlaceholderGPDYN" serializeAs="String">
                <value>GP_DYN_DB</value>
            </setting>
            <setting name="PlaceholderLinkedServer" serializeAs="String">
                <value>LINKED_SERVER</value>
            </setting>
            <setting name="Logpath" serializeAs="String">
                <value>D:\eSM\deployments\Log\Uat</value>
            </setting>
            <setting name="validateProdServer1" serializeAs="String">
                <value>172.28.30.7</value>
            </setting>
            <setting name="validateProdServer2" serializeAs="String">
                <value>172.28.30.7</value>
            </setting>
            <setting name="validateTestServer" serializeAs="String">
                <value>172.30.30.5\test</value>
            </setting>
            <setting name="PlaceholderCP" serializeAs="String">
                <value>CLIENTPORTAL_DB</value>
            </setting>
            <setting name="PlaceholderVP" serializeAs="String">
                <value>VENDORPORTAL_DB</value>
            </setting>
            
        </DeploymentApp.Properties.Settings>
    </userSettings>
</configuration>