<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>

          <basicHttpBinding>
            <binding name="BasicHttpBinding_IIPCAdServiceAPI" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
              <readerQuotas maxDepth="32" maxStringContentLength="200000000" maxArrayLength="200000000" maxBytesPerRead="4096" maxNameTableCharCount="16384343" />
              <security mode="None">
                <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
                <message clientCredentialType="UserName" algorithmSuite="Default" />
              </security>
            </binding>
          </basicHttpBinding>
        </bindings>
      
        <client>
            <!--<endpoint address="http://services.nexelus.net/ipc_12.1-beta/IPCAdServiceAPI.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIPCAdServiceAPI"
                contract="iPCService.IIPCAdServiceAPI" name="BasicHttpBinding_IIPCAdServiceAPI" />-->
          <!--<endpoint address="http://localhost:55949/IPCAdServiceAPI.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIPCAdServiceAPI"
                contract="iPCService.IIPCAdServiceAPI" name="BasicHttpBinding_IIPCAdServiceAPI" />-->
          <endpoint address="http://services.nexelus.net/ipc_12.1/IPCAdServiceAPI.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIPCAdServiceAPI"
                contract="iPCService.IIPCAdServiceAPI" name="BasicHttpBinding_IIPCAdServiceAPI" />
          
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="IPC.AdToolId" value="19"/>
    <add key="IPC.AccountId" value="104"/>
    <add key="IPC.AccessTag" value="BILLING_PROD_TMK"/>
    <add key="IPC.UserId" value="GoogleAdsBilling"/>
    <add key="IPC.Password" value="password"/>
    <add key="IPC.DevToken" value="dummy"/>
  </appSettings>
</configuration>