<?xml version="1.0"?>
<configuration>
  <!-- APPLICATION SETTINGS VARIABLES -->
  <!-- When new variable added, make sure to add it in the Configuration singleton and use that in application -->
  <appSettings>
    <add key="databaseserver_esmapp" value="172.30.30.5\TEST"/>
    <add key="databasename_esmapp" value="Nexelus_APP_Dev"/>
    <add key="DatabaseUID_esmapp" value="sa"/>
    <add key="DatabasePWD_esmapp" value="3F9447D29A0AB33ED95A2E70E27A0640"/>
    <!--<add key="databaseserver_esmapp" value="172.16.100.82" />
    <add key="databasename_esmapp" value="Nexelus_APP" />
    <add key="DatabaseUID_esmapp" value="sa" />
    <add key="DatabasePWD_esmapp" value="3F9447D29A0AB33ED95A2E70E27A0640" />-->
    <add key="ConnectTimeout_esmapp" value="300"/>
    <add key="QueryTimeout_esmapp" value="3000"/>
    <add key="LogPath" value="D:\LOG\NexelusService"/>
    <add key="LogLevel" value="1"/>
    <add key="DBRecordsCount" value="1000"/>
  </appSettings>
  <connectionStrings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <!--
        The <authentication> section enables configuration 
        of the security authentication mode used by 
        ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows"/>
    <!--
        The <customErrors> section enables configuration 
        of what to do if/when an unhandled error occurs 
        during the execution of a request. Specifically, 
        it enables developers to configure html error pages 
        to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
      The system.webServer section is required for running ASP.NET AJAX under Internet
      Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="NexelusService.Service1Behavior" name="NexelusService.NexelusService">
        <endpoint address="" binding="webHttpBinding" contract="NexelusService.INexelusService" behaviorConfiguration="web">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NexelusService.Service1Behavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\log\Traces.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>